* {
    transition: .3s;
    outline: none !important;
    &:before, &:after {
        transition: .3s;
    }
}

.background-center {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background-dark {
    background: rgba(#000000, .4);
    &.fill {
        @extend .position-absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
