.find-order__item {
    @extend .shadow, .rounded, .mb-5, .position-relative, .overflow-hidden;
    height: 230px;
    .background {
        @extend .background-center;
    }
    &-body {
        @extend .p-4, .first-plan, .text-white, .d-flex;
    }
    &-image {
        @extend .background-center;
        width: 50px;
        height: 50px;
    }
    &-text {
        @extend .ml-3;
    }
}
