header.row {
    @extend .py-5, .align-items-center;

    .logo {
        @extend .font-weight-bold, .h2, .mb-0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex: none;
        box-sizing: border-box;
        padding-left: 58px;
        background: url("/images/favicon/android-icon-48x48.png") no-repeat left;
    }

    nav {
        @extend .d-flex, .flex-row, .align-items-center;

        a {
            @extend .py-2, .px-3, .mx-2;
        }
    }

    .info-block {
        @extend .d-flex, .flex-row;
        > * {
            @extend .ml-5;
        }
        .game-version {
            @extend .font-weight-bold;
        }
    }
}
