.slick-slide {
    .stream__item {
        @extend .px-2;
    }
}

.twitch-stream {
    @extend .mb-4;
    .twitch-player {
        @extend .rounded, .overflow-hidden, .shadow;
    }
    .twitch-chat {
        @extend .h-100;
    }
}

.stream__item {
    @extend .position-relative, .mb-4;
    > * {
        @extend .mb-2;
    }
    .stream__image {
        @extend .background-center, .rounded, .d-block, .overflow-hidden, .mb-3;
        height: 160px;
    }
    .stream--name {
        @extend .d-flex, .align-items-center, .small, .font-weight-bold;
        &:before {
            @extend .d-inline-block, .mr-2;
            width: 16px;
            height: 16px;
            content: '';
            background-image: url("https://midorfeed.ru/storage/sites/twitch.ico");
        }
    }
    .stream--title {
        @extend .small;
    }
    .stream--viewers {
        @extend .position-absolute, .small, .text-white;
        top: 8px;
        right: 20px;
    }
}
