@import "../colors";
.news-show__item {
    > * {
        @extend .mb-5;
    }
    .news-image {
        @extend .w-100, .rounded, .shadow, .overflow-hidden;
    }
    .news-text {
        img {
            @extend .mw-100, .m-0;
            height: initial;
            &.img-s-hero {
                max-width: 53px !important;
            }
        }
        .inserted-link__icon {
            height: 16px;
        }
        > p {
            @extend .mb-5;
        }
        table {
            background: rgba($primary, .1);
            @extend .w-100, .rounded, .overflow-hidden, .my-3, .p-3;
        }
    }
}

